<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.cned.emdsgil.suividevosfrais">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/my_backup_rules">
        <activity android:name="fr.cned.emdsgil.fr.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="recipe-app.com"
                    android:pathPrefix="/recipes" />
            </intent-filter>
        </activity>
        <activity android:name="fr.cned.emdsgil.fr.HfActivity" />
        <activity android:name="fr.cned.emdsgil.fr.HfRecapActivity" />
        <activity android:name="fr.cned.emdsgil.fr.KmActivity" />
        <activity android:name="fr.cned.emdsgil.fr.RepasActivity" />
        <activity android:name="fr.cned.emdsgil.fr.StateActivity" />
        <activity android:name="fr.cned.emdsgil.fr.NuitActivity" />
        <activity android:name="fr.cned.emdsgil.fr.AuthActivity" />
    </application>

    <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>